SRM_SYNOLOGY_BASE_URL=http://192.168.1.1:8000/webapi
SRM_SYNOLOGY_NODE_ID=8
SRM_SYNOLOGY_POLL_INTERVAL_SECS=30
SRM_SYNOLOGY_USERNAME=your-username
SRM_SYNOLOGY_PASSWORD=your-password
SRM_MONGODB_DATABASE=srm
SRM_MONGODB_COLLECTION=telemetry
